body {
    /* background-color: aliceblue; */
    background-color: #FFF;
    color: #0A0A0A;
    font-family: 'Arial';
    height: 100%;
    width: 100%;
    align-items: center;
}

.header {
    position: sticky;
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-image {
    align-self: center;
}

.header-contact {
    text-align: start;
    align-self: center;
}

.header-contact a {
    text-decoration: none;
    color: inherit;
    
}

.logo {
    display: inline;
}

.header-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.body-copy-container {
    display: grid;
    max-width: 67%;
    margin: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.body-copy-top-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.body-copy-top-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.body-copy-bottom-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.body-copy-bottom-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
 
footer {
    margin: auto;
    max-width: 67%;
    text-decoration: none;
}

footer a {
    color: inherit;
}