body {
    /* background-color: aliceblue; */
    background-color: #FFF;
    color: #0A0A0A;
    font-family: 'Arial';
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    align-items: center;
}

/* .header-image {
    height: 25vh;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.header-logo {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.header-text {
    /* text-align: center; */
    align-self: center;
}

.header-contact {
    text-align: end;
    align-self: center;
}

.header-contact a {
    text-decoration: none;
    color: inherit;
    
}

h1 {
    font-size: xx-large;
}

.logo {
    display: inline;
}

.header-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.body-copy-container {
    display: grid;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 500px 500px;
    grid-template-rows: 50% 50%;
}

.body-copy-top-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 0%;
    padding-top: 0%;
}

.body-copy-top-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.body-copy-bottom-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.body-copy-bottom-right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 500px;
}
 
ul {
    list-style: circle;
}

footer {
    margin: auto;
    max-width: 1000px;
    text-decoration: none;
}

footer a {
    color: inherit;
}