body {
    /* background-color: aliceblue; */
    background-color: #008FC5;
    color: antiquewhite;
}

header {
    text-align: center;
    display: inline;
}

h1 {
    
}

/* .logo {
    display: inline;
} */

.header-text {
    display: inline;
}

.body-copy-container {
    /* font-family: ; */
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    /* width: 50%; */
}
 
ul {
    list-style: circle;
}